<p>width-validations-explicit works!</p>

<div class="ui raised segment">
    <h2 class="ui header">
        Demo Form
    </h2>
    <form class="ui form" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
        <div class="field" [class.error]="!myForm.controls['sku'].valid && myForm.controls['sku'].touched">
            <label for="skuInput">SKU</label>
            <input type="text" id="skuInput" placeholder="SKU" name="sku" [formControl]="myForm.controls['sku']"/>
            <div *ngIf="!myForm.controls['sku'].valid" class="ui error message">
                SKU is invalid
            </div>
            <div *ngIf="myForm.controls['sku'].hasError('required')" class="ui error message">SKU is required</div>
        </div>
        
        <div class="ui error message" *ngIf="!myForm.valid">Form is invalid</div>
        <button class="ui button">Submit</button>
    </form>
</div>